# Node modules
web/node_modules/
web/package.json
web/package-lock.json

# Environment files
.env

# OS-specific junk
.DS_Store
Thumbs.db

# Logs
*.log

# Binaries and builds
bin/
dist/
bin/
*.exe
*.bin

# Editor configs
.vscode/
.idea/
